@model VideoAllServiceModel

@{ 
    ViewBag.CurrentCourseId = Model.Topics.FirstOrDefault().CourseId;
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            @foreach (var topic in Model.Topics)
            {
                <li class="nav-item">
                    <a asp-area="" asp-controller="Video" asp-action="All" asp-route-courseId="@ViewBag.CurrentCourseId" asp-route-topicId="@topic.Id" class="nav-link active">@topic.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="card-body">
        <a asp-area="" asp-controller="Video" asp-action="All" asp-route-courseId="@ViewBag.CurrentCourseId" class="btn btn-primary">All Videos</a>

        <a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@ViewBag.CurrentCourseId" class="btn btn-primary">Go back to course details.</a>
       
        <a asp-area="" asp-controller="Course" asp-action="AddTopic" asp-route-courseId="@ViewBag.CurrentCourseId" class="btn btn-success">Add Topic</a>

        <a asp-area="" asp-controller="Video" asp-action="Add" asp-route-courseId="@ViewBag.CurrentCourseId" class="btn btn-success">Add Video</a>
    </div>
</div>

@if (!Model.Videos.Any())
{
    <h1>No videos have been added to this topic so far.</h1>
}
else
{
    @foreach (var video in Model.Videos)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@video.Name</h5>
                    <h5 class="card-title text-center">Created on: @video.CreatedOn</h5>
                    <a href="@video.Url" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    }
}